---
# Default home page with boxes providing collection stats
layout: page
---
<hr style="height: 4px; background: linear-gradient(90deg, #e67e22, #9b59b6, #3498db); border: 0; margin-bottom: 2rem;">

<div class="row">
  <div class="col-md-8">

    <div class="p-4 rounded shadow-sm mb-4" style="background-color: #f7f4fa; border: 1px solid #dcd1e8;">
    {% include index/description.html %}

  
    </div>
    <div class="col-md-4">

      {% include index/time.html %}

      {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" max=8 %}

      {% include index/featured-terms.html field="creator" title="Creators" btn-color="success" max=8 %}

      {% include index/objects.html %}

    </div>
  
  </div>
