---
# Default home page with boxes providing collection stats
layout: page
---
<div class="jumbotron text-center text-white"
     style="background-image: url('/earthrise_apollo_s.webp');
            background-size: cover;
            background-position: center;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;">
    <div>
        <h1>History of Space, Through Time</h1>
        <p>Collection of Space Photography Over 75 Years of Exploration</p>
    </div>
</div>
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}

  
  </div>
  <div class="col-md-4">

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" max=8 %}

    {% include index/featured-terms.html field="creator" title="Creators" btn-color="success" max=8 %}

    {% include index/objects.html %}

  </div>
  
</div>
